

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 equal-width columns */
  grid-gap: 10px; /* Gap between grid items */
  padding: 20px;
}

.grid-item {
  background-color: #ddd;
  padding: 20px;
  font-size: 20px;
  text-align: center;
}

.App{
  border: solid 1px black;
  width: 400px;
  height: auto;
  position: relative;
  justify-content: center;
  align-items: center;
  left: 40%;
  top:100px;
}
